@font-face {
  font-family: slipknotFont;
  src: url(../assets/slipknot/Sickness.ttf);
}
html {
  color: #eee;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.background {
  background-color: #000;
  height: fit-content;
  width: 100%;
  position: absolute;
}

.navbar-container {
  position: absolute;
  width: 100%;
  height: 2.4%;
  z-index: 1;
}

.graybar {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 8%;
  z-index: 2;
  padding: 1% 0%;
}

.title-head {
  position: absolute;
  margin-top: 1%;
  margin-left: 40%;
  text-align: center;
  font-family: slipknotFont;
  font-size: 36px;
}

.back-btn {
  position: absolute;
  height: 50px;
  width: 50px;
  border: #611 solid 2px;
  border-radius: 50%;
  background-color: #242225;
  color: #811;
  z-index: 10;
  text-align: center;
  line-height: 10%;
  font-size: 250%;
  box-shadow: 6px 5px 10px #a00404;
}

.back-btn:hover {
  box-shadow: 6px 5px 10px #410303;
}

.back-btn:active {
  color: #410303;
}

.history-container {
  position: absolute;
  margin-top: 5%;
}

.history-box-1 {
  padding: 2% 10%;
  background-color: #111010;
}

.history-box-2 {
  padding: 5% 10%;
  background-color: #040205;
}

.history-title {
  font-family: slipknotFont;
  text-align: center;
  font-size: 32px;
  margin-bottom: 2%;
}

.history {
  font-size: 16px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
