@font-face {
    font-family: slipknotFont;
    src: url(../assets/slipknot/Sickness.ttf);
}

.graybar {
    background-color: #242222;
    position: fixed;
    width: 100%;
    height: 10%;
    flex-shrink: 2;
    z-index: 2;
}

.page-title {
    font-family: slipknotFont;
    color: #fff;
    font-size: 42px;
    position: relative;
    top: 15%;
    left: 45%
}

.menu-button {
    position: fixed;
    height: 3.5%;
    width: 3%;
    left: 95vw;
    top: 3vh;
}


.menu {
    position: relative;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 54px;
    z-index: 5;
    cursor: pointer;
}

.menuline {
    width: 100%;
    height: 20%;
    background: #fff;
    border-radius: 3px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upperline {
    top: 10%;
}

.bottomline {
    top: 90%;
}

.banner {
    position: absolute;
    width: 12.5%;
    height: 80%;
    z-index: 1;
    top: 10%;
}

.sid-wilson {
    background-image: url("../assets/sid-wilson.jpg");
    background-position: center;
    background-size: cover;
    left: 0%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.sid-wilson:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1
}

.jim-root {
    background-image: url("../assets/james-root.jpg");
    background-position: center;
    background-size: cover;
    left: 12.5%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.jim-root:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1
}

.shawn-crahan {
    background-image: url("../assets/shawn-crahan.jpg");
    background-position: center;
    background-size: cover;
    left: 25%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.shawn-crahan:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1
}

.mick-thompson {
    background-image: url(../assets/mick-thompson.jpg);
    background-position: center;
    background-size: cover;
    left: 37.5%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.mick-thompson:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1
}

.corey-taylor {
    background-image: url(../assets/corey-taylor.jpg);
    background-position: center;
    background-size: cover;
    left: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.corey-taylor:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1
}

.alessandro-venturella {
    background-image: url(../assets/alessandro-venturella.jpg);
    background-position: center;
    background-size: cover;
    left: 62.5%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.alessandro-venturella:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1
}

.jay-weinberg {
    background-image: url(../assets/jay-weinberg.jpg);
    background-position: 75%;
    background-size: cover;
    left: 75%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.jay-weinberg:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1
}

.michael-pfaff {
    background-image: url(../assets/michael-pfaff.jpg);
    background-position: center;
    background-size: cover;
    left: 87.5%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.michael-pfaff:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1
}

.logo {
    background-image: url(../assets/slipknot-logo.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    border-radius: 80%;
    position: absolute;
    top: 54%;
    left: 45%;
    height: 200px;
    width: 200px;
    z-index: 2;
    cursor: pointer;
}

.rotate {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}


.footer {
    top: 90%;
}

.signature {
    position: relative;
    color: #fff;
    font-size: 12px;
    left: 85%;
    top: 70%;
}