@font-face {
    font-family: slipknotFont;
    src: url(../assets/slipknot/Sickness.ttf);
}

.graybar {
    background-color: #242222;
    position: fixed;
    width: 100%;
    height: 10%;
    flex-shrink: 2;
    z-index: 2;
}

.page-title {
    font-family: slipknotFont;
    color: #fff;
    font-size: 42px;
    position: relative;
    top: 15%;
    left: 45%
}

.banner {
    position: absolute;
    width: 12.5%;
    height: 80%;
    z-index: 1;
    top: 10%;
}

.sid-wilson {
    background-image: url("../assets/sid-wilson.jpg");
    background-position: center;
    background-size: cover;
    left: 0%;
}

.jim-root {
    background-image: url("../assets/james-root.jpg");
    background-position: center;
    background-size: cover;
    left: 12.5%;
}

.shawn-crahan {
    background-image: url("../assets/shawn-crahan.jpg");
    background-position: center;
    background-size: cover;
    left: 25%;
}

.mick-thompson {
    background-image: url(../assets/mick-thompson.jpg);
    background-position: center;
    background-size: cover;
    left: 37.5%;
}

.corey-taylor {
    background-image: url(../assets/corey-taylor.jpg);
    background-position: center;
    background-size: cover;
    left: 50%;
}

.alessandro-venturella {
    background-image: url(../assets/alessandro-venturella.jpg);
    background-position: center;
    background-size: cover;
    left: 62.5%;
}

.jay-weinberg {
    background-image: url(../assets/jay-weinberg.jpg);
    background-position: 75%;
    background-size: cover;
    left: 75%;
}

.michael-pfaff {
    background-image: url(../assets/michael-pfaff.jpg);
    background-position: center;
    background-size: cover;
    left: 87.5%;
}

.logo {
    background-image: url(../assets/slipknot-logo.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    border-radius: 80%;
    position: absolute;
    top: 54%;
    left: 45%;
    height: 200px;
    width: 200px;
    z-index: 2;
}

.rotate {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}


.footer {
    top: 90%;
}