@font-face {
  font-family: slipknotFont;
  src: url(../assets/slipknot/Sickness.ttf);
}

html {
  scroll-behavior: smooth;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.background {
  background-color: #000;
  height: fit-content;
  width: 100%;
  position: absolute;
}

.graybar {
  background-color: #242222;
  position: absolute;
  width: 100%;
  height: fit-content;
  flex-shrink: 2;
  z-index: 2;
}

.page-title {
  font-family: slipknotFont;
  color: #fff;
  font-size: 42px;
  position: relative;
  top: 15%;
  left: 42%;
}

.breadcrumb {
  list-style: none;
}

.breadcrumb-btn {
  display: inline;
}
.decorate-btn,
.decorate-btn:after {
  width: 25%;
  height: 15%;
  font-size: 1em;
  cursor: pointer;
  font-family: slipknotFont;
  background: linear-gradient(45deg, transparent 5%, #131212 5%);
  border: 0;
  color: #fff;
  letter-spacing: 2px;
  box-shadow: 6px 5px 10px #410303;
  outline: transparent;
  position: relative;
  margin-top: 2.5%;
  margin-bottom: 2%;
  top: 10%;
  left: 10%;
  margin-right: 1%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.decorate-btn:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "SLIPKNOT";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #d22 3%, #f10 5%, #999 5%);
  text-shadow: -3px -3px 0px #cc0000, 3px 3px 0px #6b1313;
  clip-path: var(--slice-0);
}
.decorate-btn:hover:after {
  animation: 2s glitch;
  animation-timing-function: steps(2, end);
}
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
@media (min-width: 768px) {
  .decorate-btn,
  .decorate-btn:after {
    width: 15vw;
    height: 10vh;
    line-height: 88px;
  }
}

.banner-section {
  height: 13%;
  width: 100%;
  position: absolute;
  top: 3%;
}
.banner {
  position: absolute;
  width: 12.5%;
  height: 100%;
  z-index: 1;
}

.sid-wilson {
  background-image: url("../assets/sid-wilson.jpg");
  background-position: center;
  background-size: cover;
  left: 0%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.sid-wilson:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  transition: 0.5s;
}

.jim-root {
  background-image: url("../assets/james-root.jpg");
  background-position: center;
  background-size: cover;
  left: 12.5%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.jim-root:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  transition: 0.5s;
}

.shawn-crahan {
  background-image: url("../assets/shawn-crahan.jpg");
  background-position: center;
  background-size: cover;
  left: 25%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.shawn-crahan:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  transition: 0.5s;
}

.mick-thompson {
  background-image: url(../assets/mick-thompson.jpg);
  background-position: center;
  background-size: cover;
  left: 37.5%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.mick-thompson:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  transition: 0.5s;
}

.corey-taylor {
  background-image: url(../assets/corey-taylor.jpg);
  background-position: center;
  background-size: cover;
  left: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.corey-taylor:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  transition: 0.5s;
}

.alessandro-venturella {
  background-image: url(../assets/alessandro-venturella.jpg);
  background-position: center;
  background-size: cover;
  left: 62.5%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.alessandro-venturella:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  transition: 0.5s;
}

.jay-weinberg {
  background-image: url(../assets/jay-weinberg.jpg);
  background-position: 75%;
  background-size: cover;
  left: 75%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.jay-weinberg:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  transition: 0.5s;
}

.michael-pfaff {
  background-image: url(../assets/michael-pfaff.jpg);
  background-position: center;
  background-size: cover;
  left: 87.5%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.michael-pfaff:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  transition: 0.5s;
}

.history-section {
  position: relative;
  top: 55%;
  margin-top: 50%;
}

.resume {
  color: #eee;
  padding: 0.7%;
  margin-left: 2%;
}

.slipknot-tribute {
  padding: 2%;
  text-align: center;
  font-size: 42px;
  font-family: slipknotFont;
  color: #eee;
  z-index: 10;
}

.toggle-section {
  height: 1vh;
  width: 60%;
  line-height: 15px;
}

.logo {
  background-image: url(../assets/slipknot-logo.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  border-radius: 80%;
  position: absolute;
  top: 10%;
  left: 1%;
  height: 50px;
  width: 50px;
  z-index: 2;
  cursor: pointer;
}

.rotate {
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.history-title {
  font-family: slipknotFont;
  font-size: 24px;
  padding-bottom: 10px;
  z-index: inherit;
}

.title {
  font-family: slipknotFont;
  font-size: 24px;
  padding-bottom: 10px;
  line-height: 5px;
  z-index: inherit;
  text-align: center;
  color: #eee;
  padding-bottom: 2%;
}

.collapsible-btn {
  position: absolute;
  padding: 0% 2%;
  background-color: #000;
  border: none;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  width: 95%;
  height: 50%;
  text-align: center;
  font-size: 26px;
  line-height: 75%;
  margin: 0.5%;
  outline: none;
  transition: 0.4s;
  z-index: 3;
}
.active,
.collapsible-btn:hover {
  background-color: #333;
  font-size: 24px;
  opacity: 0.8;
  transition: 1.3s;
}
.active {
  background-color: #000;
  height: 10%;
}

.history-panel {
  max-height: 0;
  position: relative;
  margin-top: 14%;
  left: 10%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.history {
  position: relative;
  line-height: 110%;
  word-wrap: break-word;
  top: 80%;
  padding: 0px;
  color: #eee;
}

.accordion-panel {
  position: relative;
  box-sizing: border-box;
  padding: 10px 0px 0px 0px;
  width: 100%;
  height: 10%;
  background-color: #000;
  z-index: 2;
}

.discography-section {
  width: 100%;
  height: fit-content;
  background-color: #000;
  box-sizing: border-box;
  position: absolute;
}

.main-title {
  font-size: 300%;
  padding: 8% 0% 2% 0%;
}

.discography-header {
  position: relative;
  bottom: 80%;
  background-color: #111;
  margin-bottom: 5%;
  height: 80%;
  width: 100%;
}

.discography-btn-fx {
  width: 16%;
  height: 15%;
  display: inline-flexbox;
  align-items: center;
  background-color: #000;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: slipknotFont;
  font-size: 16px;
  color: #eee;
  cursor: pointer;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1% 0% 1% 1%;
}

.discography-btn-fx:after {
  background-color: #111;
  border-radius: 8px;
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.discography-btn-fx:hover:after {
  transform: translate(0, 0);
}

.discography-btn-fx:active {
  background-color: #ffdeda;
  color: #000;
  border: #6b1313;
  outline: 0;
}

.discography-btn-fx:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .discography-btn-fx {
    padding: 0 40px;
  }
}

.board {
  margin: 8% 0% 2% 0%;
  position: relative;
  max-width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.tape {
  width: 100%;
}

.compilation {
  width: 100%;
}

.ep {
  width: 100%;
}

.live {
  width: 100%;
}

.tribute {
  width: 100%;
}

.movie {
  max-width: 100%;
}
.album-cover {
  width: fit-content;
  object-fit: cover;
  max-width: 98%;
  height: auto;
  margin: 3% 3.5%;
}

.disco-card {
  background-color: #ddd;
  height: fit-content;
  width: 20%;
  margin: 2%;
}

.discography-title-bar {
  margin-bottom: 10%;
  height: 0.5%;
  width: 100%;
  background-image: linear-gradient(#111, #222, #111);
  position: absolute;
  z-index: 2;
}

.discography-title {
  position: relative;
  font-family: slipknotFont;
  color: #eee;
  font-size: 200%;
  top: 20%;
  text-align: center;
  z-index: 3;
}

.content-container {
  width: fit-content;
  height: auto;
  padding-bottom: 5%;
}

.tracklist-link {
  color: #600;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.5);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-header {
  height: fit-content;
  width: 100%;
  margin-bottom: 5%;
  background-color: #222;
}

.modal-content {
  border-radius: 5%;
  position: relative;
  width: fit-content;
  max-width: 90%;
  background: #000;
  padding: 1% 2%;
  color: #eee;
}

.modal-title {
  font-weight: 800;
  font-size: 125%;
  text-align: center;
}

.list-mark {
  list-style-type: decimal;
  text-align: center;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}

/* 

.footer {
  position: relative;
  bottom: -100%;
}

.signature {
  width: auto;
  position: relative;
  color: #fff;
  font-size: 12px;
  text-align: end;
  right: 5%;
  top: 70%;
}

  */
